@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 7px 15px 7px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
}

a {
    color: gray;
    text-decoration: none;
}

ul {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.header,
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    gap: 15px;
}

.header {
    align-items: flex-start;
}

.footer {
    margin-top: auto;
    align-items: flex-end;
    background-color: #eeeeee;
}
