.header {
    display: flex;
    font-family: monospace;
    background: papayawhip;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 200px;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    color: tomato;
    background: white;
    padding: 4px 32px;
    margin: 0em 1em 0em;
    align-self: center;
}

ul {
    display: flex;
    /* this removes the dots on the list items*/
    list-style-type: none;
    padding: 15px;
    margin: 1em;
    gap: 5px;
}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
}
